<html>
  <head>
    <title>Notebook</title>
    <!-- Icons & Stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Include the library in the page -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!--  Add the Marked library -->
    <script src="https://unpkg.com/marked"></script>
    <!-- Notebook app -->
    <div id="notebook">
      <!--  Side bar -->
      <aside class="side-bar">
        <!--  Toolbar -->
        <div class="toolbar">
          <!--  Add note button -->
          <button @click="addNote" :title="addButtonTitle"><i class="material-icons">add</i> Add note</button>
        </div>
        <!--  Here will be the note list -->
        <div class="notes">
          <!--  Note list here -->
          <div class="note" v-for="note of notes" @click="selectNote(note)" :class="{ selected: note === selectedNote }">{{note.title}}</div>
        </div>
      </aside>
      <!-- Main pane -->
      <template  v-if="selectedNote">
      <section class="main" v-if="selectedNote">
        <textarea v-model="selectedNote.content"></textarea>
      </section>
      <!--  Preview pane -->
      <aside class="preview" v-html="notePreview">
      </aside>
      </template>
    </div>
    <!-- Some JavaScript -->
    <script src="js/script.js"></script>
  </body>
</html>